.container {
  max-width: 900px;
  max-height: 800px;

  margin: 0 auto;
}
.app-body {
  border: none;
  border-radius: 15px 15px;
  background: center/cover url("../media/day.jpg") no-repeat;
  padding: 5px 20px;
  color: white;
}
.now-city-time {
  margin: 0px 0px 45px;
}
.city {
  font-size: 80px;
  font-weight: bolder;
}
.date {
  font-size: 20px;
  text-align: right;
  margin-top: 55px;
}

.now-icon,
.now-temp {
  font-size: 70px;
  padding-bottom: 60px;
  padding-left: 90px;
}
.now-temp {
  font-weight: bold;
  margin-right: -45px;
  margin-left: 25px;
}
.unit {
  font-size: 12px;
  font-weight: lighter;
  margin-left: -11px;
}
ul {
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}

footer {
  display: flex;
  text-align: center;
  padding: 30px 0px;
}
footer .card {
  background-color: transparent;
  border: none;
  box-shadow: rgb(22, 65, 122) 3px 3px 10px 1px;
}
.card-title {
  font-size: 18px;
}
.source-link {
  text-align: center;
}
